@import "tailwindcss";
@import "./font.css";
body {
  font-family: "Mondwest", sans-serif;
  color: var(--color-neir-dark);
}
:root {
  --color-neir-lightest: oklch(0.952 0.0328 93.54);
  --color-neir-lighter: oklch(0.912 0.0328 93.54);
  --color-neir-light: oklch(0.8456 0.0301 90);
  --color-neir: oklch(0.7131 0.0342 97.45);
  --color-neir-dark: oklch(0.3118 0.0328 93.54);
  --color-neir-darkest: oklch(0.1918 0.0328 93.54);
  --yatsugi-green: oklch(0.6196 0.1412 199.11);
  --yatsugi-white: oklch(0.9691 0.0169 245.824);
  --yatsugi-grey-1: oklch(0.7131 0.0328 245.824);
  --yatsugi-grey-2: oklch(0.5993 0.0169 245.824);
  --yatsugi-grey-3: oklch(0.3782 0.0169 245.824);
  --yatsugi-orange: oklch(0.7641 0.163 39.01);
  --yatsugi-blue: oklch(44.602% 0.0328 233);
  --yatsugi-red: oklch(0.65309 0.020971 26.013);
  /* --yatsugi-red: oklch(65.309% 0.20971 26.013); */
  --yatsugi-blue-50: oklch(98.36% 0.01866 204.07);
 --yatsugi-blue-600: oklch(60.601% 0.13179 230.44);
  --yatsugi-blue-700: oklch(51.652% 0.11176 231.85);
  --yatsugi-blue-900: oklch(39.601% 0.07386 236.11);

}
@layer components {
  .input {
    @apply font-pkmnem text-stone-100 bg-zinc-900 border-2 border-zinc-600 focus:outline-none  transition-colors duration-200 placeholder:text-zinc-500 shadow-[2px_2px_0px_rgba(0,0,0,0.8)] focus:shadow-[2px_2px_0px_rgba(251,191,36,0.3)];
    text-shadow:
      -0.3px 0px rgba(195, 191, 190, 0.25),
      -0.3px -0.3px rgba(195, 191, 190, 0.25),
      0px 0.5px #413141,
      0.5px 0px #413141,
      0.75px 0.75px rgba(106, 90, 90, 0.5);
  }
  .button {
    @apply font-pkmnem px-2 font-bold text-stone-100 border-2 border-zinc-600 focus:outline-none  transition-all duration-200 shadow-[2px_2px_0px_rgba(0,0,0,0.8)] focus:shadow-[2px_2px_0px_rgba(251,191,36,0.3)] active:shadow-[1px_1px_0px_rgba(0,0,0,0.8)] active:translate-x-[1px] active:translate-y-[1px] disabled:opacity-50 disabled:cursor-not-allowed disabled:active:translate-x-0 disabled:active:translate-y-0 disabled:active:shadow-[2px_2px_0px_rgba(0,0,0,0.8)];
    text-shadow:
      -0.3px 0px rgba(195, 191, 190, 0.25),
      -0.3px -0.3px rgba(195, 191, 190, 0.25),
      0px 0.5px #413141,
      0.5px 0px #413141,
      0.75px 0.75px rgba(106, 90, 90, 0.5);
  }
  .hover-active-button {
    @apply font-pkmnem cursor-pointer font-bold;
    animation: none;
  }

  .hover-active-button:hover {
    animation: hover-in 104ms cubic-bezier(0.32, 0.72, 0, 1) forwards;
    animation-play-state: running;
  }

  .hover-active-button:not(:hover) {
    animation: hover-out 227ms cubic-bezier(0.32, 0.72, 0, 1) forwards;
  }
  @keyframes hover-in {
    from {
      filter: saturate(100%) brightness(100%);
    }
    to {
      filter: saturate(120%) brightness(85%);
    }
  }

  @keyframes hover-out {
    from {
      filter: saturate(120%) brightness(85%);
    }
    to {
      filter: saturate(100%) brightness(100%);
    }
  }
}
/* 
body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url("./wavy-lines.svg");
  background-size: cover;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.logo {
  margin-bottom: 20px;
  -webkit-user-drag: none;
  height: 128px;
  width: 128px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1.2em #6988e6aa);
}

.creator {
  font-size: 14px;
  line-height: 16px;
  color: var(--ev-c-text-2);
  font-weight: 600;
  margin-bottom: 10px;
}

.text {
  font-size: 28px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  padding: 16px 0;
}

.tip {
  font-size: 16px;
  line-height: 24px;
  color: var(--ev-c-text-2);
  font-weight: 600;
}

.react {
  background: -webkit-linear-gradient(315deg, #087ea4 55%, #7c93ee);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.ts {
  background: -webkit-linear-gradient(315deg, #3178c6 45%, #f0dc4e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.actions {
  display: flex;
  padding-top: 32px;
  margin: -6px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.action {
  flex-shrink: 0;
  padding: 6px;
}

.action a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
  border-color: var(--ev-button-alt-border);
  color: var(--ev-button-alt-text);
  background-color: var(--ev-button-alt-bg);
}

.action a:hover {
  border-color: var(--ev-button-alt-hover-border);
  color: var(--ev-button-alt-hover-text);
  background-color: var(--ev-button-alt-hover-bg);
}

.versions {
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Menlo", "Lucida Console", monospace;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  border-radius: 22px;
  background-color: #202127;
  backdrop-filter: blur(24px);
}

.versions li {
  display: block;
  float: left;
  border-right: 1px solid var(--ev-c-gray-1);
  padding: 0 20px;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.8;
  &:last-child {
    border: none;
  }
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
} */
